# Örneklem

* Bir populasyon içerisinden bu populasyonu temsil ettiği düşünülen bir alt küme seçme işlemidir

## Örnek Teorisi

In [1]:
import numpy as np

In [2]:
# Bir ilçede 0 ile 80 yas aralıgında 10000 kişi olsun.
# Bunları temsil edecek 100 kişi ile örneklemi seçelim

In [3]:
populasyon = np.random.randint(0,80,10000)

In [4]:
populasyon[0:10]

array([ 5, 36, 49, 37, 77, 58, 17, 48, 42, 18])

In [6]:
#orneklem cekimi
np.random.seed(115)
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([37, 37, 48, 32, 45, 59, 44, 44, 58, 74])

In [7]:
orneklem.mean()

39.4

In [8]:
populasyon.mean()

39.0774

In [9]:
#orneklem dağılımı

In [10]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [11]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() 
+ orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean() )  / 10

38.918

In [12]:
orneklem1.mean()

39.72

In [13]:
orneklem2.mean()

40.8

# Betimsel İstatistikler

In [14]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [16]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\hp\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: statsmodels in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: patsy in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from patsy->researchpy) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)

* **summary_cont()** sürekli, sayısal değişkenler için kullanılır.

In [17]:
rp.summary_cont(df[["total_bill", "tip", "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

* **summary_cat()** kategorik değişkenler için kullanılır.

In [18]:
rp.summary_cat(df[["sex", "day", "smoker"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2      day     Sat     87    35.66
3              Sun     76    31.15
4             Thur     62    25.41
5              Fri     19     7.79
6   smoker      No    151    61.89
7              Yes     93    38.11

In [19]:
df[["tip", "total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [20]:
df[["tip", "total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

## Güven Aralığı

* Anakütle parametresinin tahmini değerini kapsayabilecek iki sayıdan oluşan bir aralık bulunmasıdır.

* İş Uygulaması : Fiyat Stratejisi Karar Destek Sistemi
    * Problem : 
        CEO fiyat belirleme konusunda bilimsel bir dayanak ve esneklik isteniyor
    * Deteylar : 
        Satıcı, alıcı ve bir ürün var
        Alıcılara ürüne ne kadar ücret öderdiniz diye soruluyor
        Optimum fiyat bilimsel ve esnek olarak bulunmak isteniyor

In [21]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)

In [22]:
fiyatlar.mean()

58.492

In [23]:
import statsmodels.stats.api as sms

In [24]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(56.67953887736034, 60.30446112263965)

* Çıkaracak oldugumuz ürünü satın almak uzere kullanıcıların odemeyi göze aldıgı ücret istatistiksel olarak %95 güvenirlik ile 56 ile 60 arasındadır